<div class="dropzone animated tada">
	<h5>My special drop zone...</h5>
	{{#files:filesIdx}}
		<div class="dz-preview dz-processing dz-image-preview dz-success">
			<div class="dz-details">
				<div class="dz-filename"><span data-dz-name="">{{name}}</span></div>
				<div class="dz-size" data-dz-size=""><strong>{{(size/1000)}}</strong> KB</div>
				<img data-dz-thumbnail="" alt="{{name}}" src="{{thumbnail.src}}">
			</div>
			<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span></div>
			<div class="dz-success-mark2"><span>✔</span></div>
			<div class="dz-error-mark"><span>✘</span></div>
			<div class="dz-error-message"><span data-dz-errormessage=""></span></div>
		</div>
	{{/files}}
</div>