<div class="row-fluid">
	<div class="span1 animated slideInLeft pull-left text-left">
		<button type="button" class="btn btn-info fa fa-filter" on-click="filterClick"></button>
	</div>
	<div class="span10 text-center animated fadeInDown">
	</div>
	<div class="span1 animated slideInRight pull-right text-right">
		<button type="button" class="btn btn-info fa fa-cog" on-click="cogClick"></button>
	</div>
</div>

<div style="z-index: 100; position: absolute; right:0px; top:100px; background-color: darkgray;" class="span4 well offset8 animated {{#(display.showInfo===true)}}slideInRight{{/()}} {{#(display.showInfo===false)}}slideOutRight{{/()}}">
	<button type="button" class="close" on-click="infoClose">&times;&nbsp;&nbsp;</button>
	<h4>{{doc.name}}</h4>
	<div class="row-fluid">
		<form>
			<fieldset>
				{{#(keys(docProperties))}}
					<label>{{.}}</label>
					{{#(docProperties[.].type==='input')}}
						<input class="input-medium" type="text" value="{{doc.properties[.]}}">
					{{/()}}
					{{#(docProperties[.].type==='select')}}
						<select class="input-medium" value="{{doc.properties[.]}}">
							{{#(docProperties[.].options)}}
								<option value="{{value}}">{{option}}</option>
							{{/()}}
						</select>
					{{/()}}
					{{#(docProperties[.].type==='date')}}
						<input class="input-medium" type="text" value="{{doc.properties[.]}}">
					{{/()}}
				{{/()}}<br>
				<button type="button" class="btn btn-success">Save</button>
				<button type="button" class="btn btn-danger"><i class="fa fa-lock">&nbsp;&nbsp;Lock</i></button>
			</fieldset>
		</form>
	</div>
</div>

<div class="row-fluid">
	<div class="span2 well animated {{#(display.showFilter===true)}}slideInLeft{{/()}} {{#(display.showFilter===false)}}slideOutLeft{{/()}}">
		<button type="button" class="close" on-click="filterClose">&times;&nbsp;&nbsp;</button>
		<div class="row-fluid">
			<p><strong>Filter</strong></p>
			{{#(keys(docProperties))}}
				<p>{{.}}</p>
			{{/()}}
		</div>
	</div>
	<div class="span10">
		<div class="dropzone animated tada">
			{{#files:filesIdx}}
				<div class="dz-preview dz-processing dz-image-preview dz-success" on-click="itemClick" data-fileid="{{id}}" data-fileidx="{{filesIdx}}">
					<div class="dz-details">
						<div class="dz-filename"><span data-dz-name="">{{name}}</span></div>
						<div class="dz-size" data-dz-size=""><strong>{{(size/1000)}}</strong> KB</div>
						<img data-dz-thumbnail="" alt="{{name}}" src="{{thumbnail.src}}">
					</div>
				</div>
			{{/files}}
		</div>
	</div>
</div>